# CENSUS DATA

# EDA

## Data Exploration

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

### Import data

##### Zip Code Data
- using for city information

In [3]:
uszip = pd.read_csv('/content/uszips.csv')

In [4]:
print(uszip.shape)
uszip.head()

(33121, 18)

   zip       lat       lng  ... imprecise military             timezone
0  601  18.18005 -66.75218  ...     False    False  America/Puerto_Rico
1  602  18.36074 -67.17519  ...     False    False  America/Puerto_Rico
2  603  18.45440 -67.12201  ...     False    False  America/Puerto_Rico
3  606  18.16721 -66.93828  ...     False    False  America/Puerto_Rico
4  610  18.29032 -67.12244  ...     False    False  America/Puerto_Rico

[5 rows x 18 columns]

In [5]:
uszip['zip'] = uszip['zip'].astype('str').str.zfill(5)

In [6]:
uszip['zip'].nunique()

33121

##### Census 
- Contains population, demographic, poverty, and employment data by tract

In [7]:
df = pd.read_csv('/content/acs2017_census_tract_data.csv')
print(df.shape)
df.head()

(74001, 37)

      TractId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0  1001020100  Alabama  Autauga County  ...           4.5         0.0           4.6
1  1001020200  Alabama  Autauga County  ...           9.0         0.0           3.4
2  1001020300  Alabama  Autauga County  ...           4.8         0.7           4.7
3  1001020400  Alabama  Autauga County  ...           4.5         0.0           6.1
4  1001020500  Alabama  Autauga County  ...           4.5         0.0           2.3

[5 rows x 37 columns]

In [8]:
df['TractId'].nunique()

74001

##### Tract to Zip
- maps census tracts to zip codes

In [9]:
tract_zip = pd.read_excel('/content/TRACT_ZIP_122017.xlsx')

In [10]:
print(tract_zip.shape)
tract_zip.head()

(168662, 6)

        tract    zip  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  1001020100  36067   1.000000   1.000000       1.00   1.000000
1  1001020200  36008   0.028243   0.012987       0.00   0.023846
2  1001020200  36067   0.971757   0.987013       1.00   0.976154
3  1001020300  36067   1.000000   1.000000       1.00   1.000000
4  1001020400  36067   0.025543   0.585987       0.25   0.071038

In [11]:
tract_zip = tract_zip[['tract', 'zip', 'res_ratio']]

In [12]:
tract_zip = tract_zip.rename(columns = {'tract':'TractId'})

In [13]:
tract_zip['zip'].nunique()

39301

In [14]:
tract_zip['TractId'].nunique()

73584

## Merge Census with Tract_Zip Data

In [15]:
merge = df.merge(tract_zip, on=['TractId'])

In [16]:
print(merge.shape)
merge.head()

(168385, 39)

      TractId    State          County  ...  Unemployment    zip  res_ratio
0  1001020100  Alabama  Autauga County  ...           4.6  36067   1.000000
1  1001020200  Alabama  Autauga County  ...           3.4  36008   0.028243
2  1001020200  Alabama  Autauga County  ...           3.4  36067   0.971757
3  1001020300  Alabama  Autauga County  ...           4.7  36067   1.000000
4  1001020400  Alabama  Autauga County  ...           6.1  36067   0.025543

[5 rows x 39 columns]

### Seeing what does not transfer over

In [17]:
df[(~df.TractId.isin(merge.TractId))]

           TractId        State  ... FamilyWork  Unemployment
43      1003990000      Alabama  ...        NaN           NaN
868     1097990000      Alabama  ...        NaN           NaN
1266    2105000200       Alaska  ...        0.0          12.5
1324    2185000100       Alaska  ...        0.0          14.2
1353    4001944202      Arizona  ...        0.0          28.2
...            ...          ...  ...        ...           ...
73982  72151950700  Puerto Rico  ...        0.0          17.9
73983  72151950800  Puerto Rico  ...        0.0          30.4
73984  72151950900  Puerto Rico  ...        0.0          28.7
73989  72151990000  Puerto Rico  ...        NaN           NaN
73990  72153750101  Puerto Rico  ...        0.0          20.4

[624 rows x 37 columns]

In [18]:
tract_zip[(~tract_zip.TractId.isin(merge.TractId))]

            TractId    zip  res_ratio
543      1037030200  36080        1.0
2828     1115050101  35146        1.0
3017     1123231500  36866        1.0
3673     2270000100  99563        0.0
3674     2270000100  99620        0.0
...             ...    ...        ...
168657  78030960800    802        1.0
168658  78030960900    802        1.0
168659  78030961000    802        1.0
168660  78030961100    802        1.0
168661  78030961200    802        1.0

[277 rows x 3 columns]

## Data Cleaning

### isnull().sum()

In [19]:
merge.isnull().sum()

TractId                0
State                  0
County                 0
TotalPop               0
Men                    0
Women                  0
Hispanic             506
White                506
Black                506
Native               506
Asian                506
Pacific              506
VotingAgeCitizen       0
Income              1291
IncomeErr           1291
IncomePerCap         596
IncomePerCapErr      596
Poverty              710
ChildPoverty        1286
Professional         652
Service              652
Office               652
Construction         652
Production           652
Drive                633
Carpool              633
Transit              633
Walk                 633
OtherTransp          633
WorkAtHome           633
MeanCommute          949
Employed               0
PrivateWork          652
PublicWork           652
SelfEmployed         652
FamilyWork           652
Unemployment         650
zip                    0
res_ratio              0
dtype: int64

### Fill na with 0

In [20]:
merge.fillna(0, inplace=True)

In [21]:
merge.isnull().sum()

TractId             0
State               0
County              0
TotalPop            0
Men                 0
Women               0
Hispanic            0
White               0
Black               0
Native              0
Asian               0
Pacific             0
VotingAgeCitizen    0
Income              0
IncomeErr           0
IncomePerCap        0
IncomePerCapErr     0
Poverty             0
ChildPoverty        0
Professional        0
Service             0
Office              0
Construction        0
Production          0
Drive               0
Carpool             0
Transit             0
Walk                0
OtherTransp         0
WorkAtHome          0
MeanCommute         0
Employed            0
PrivateWork         0
PublicWork          0
SelfEmployed        0
FamilyWork          0
Unemployment        0
zip                 0
res_ratio           0
dtype: int64

In [22]:
merge.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

### Remove nonstates

In [23]:
# Remove areas we don't have in other df
merge = merge[merge['State'] != 'District of Columbia']
merge = merge[merge['State'] != 'Puerto Rico']

In [24]:
merge['State'].nunique()

50

## Map Tracts to Zip Code
* first get multiply % columns by total population
* multiply residential ratio across rows

### Make Numbers Compatible

#### Dividing certain columns by 100

##### Making sure I capture the correct columns

In [25]:
merge.iloc[:,6:11+1]

        Hispanic  White  Black  Native  Asian  Pacific
0            2.4   86.3    5.2     0.0    1.2      0.0
1            1.1   41.6   54.5     0.0    1.0      0.0
2            1.1   41.6   54.5     0.0    1.0      0.0
3            8.0   61.4   26.5     0.6    0.7      0.4
4            9.6   80.3    7.1     0.5    0.2      0.0
...          ...    ...    ...     ...    ...      ...
166947       3.0   89.4    1.0     0.1    3.0      0.0
166948       3.0   89.4    1.0     0.1    3.0      0.0
166949       3.0   89.4    1.0     0.1    3.0      0.0
166950       3.0   89.4    1.0     0.1    3.0      0.0
166951       0.1   93.6    0.0     0.1    5.4      0.0

[166434 rows x 6 columns]

In [26]:
merge.iloc[:,17:36+1]

        Poverty  ChildPoverty  ...  FamilyWork  Unemployment
0          10.7          20.8  ...         0.0           4.6
1          22.4          35.8  ...         0.0           3.4
2          22.4          35.8  ...         0.0           3.4
3          14.7          21.1  ...         0.7           4.7
4           2.3           1.7  ...         0.0           6.1
...         ...           ...  ...         ...           ...
166947     12.5          18.5  ...         1.6           0.4
166948     12.5          18.5  ...         1.6           0.4
166949     12.5          18.5  ...         1.6           0.4
166950     12.5          18.5  ...         1.6           0.4
166951     15.9          27.7  ...         0.6           3.7

[166434 rows x 20 columns]

In [27]:
merge.iloc[:,6:11+1] /= 100

In [28]:
merge.iloc[:,17:36+1] /= 100

In [29]:
merge.head()

      TractId    State          County  ...  Unemployment    zip  res_ratio
0  1001020100  Alabama  Autauga County  ...         0.046  36067   1.000000
1  1001020200  Alabama  Autauga County  ...         0.034  36008   0.028243
2  1001020200  Alabama  Autauga County  ...         0.034  36067   0.971757
3  1001020300  Alabama  Autauga County  ...         0.047  36067   1.000000
4  1001020400  Alabama  Autauga County  ...         0.061  36067   0.025543

[5 rows x 39 columns]

##### Multiply Columns by Total Population

In [30]:
merge.columns

Index(['TractId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment', 'zip', 'res_ratio'],
      dtype='object')

In [31]:
col = ['Hispanic','White', 'Black', 'Native', 'Asian', 'Pacific','Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment']

In [32]:
merge[col] = merge[col].multiply(merge['TotalPop'], axis = 'index')

In [33]:
merge[col] = merge[col].astype(int)

##### Check values

In [34]:
df.loc[
       (df.State == 'Wyoming')
       &(df.TotalPop == 3329)
       &(df.TractId == 56045951100)]

           TractId    State  ... FamilyWork  Unemployment
73054  56045951100  Wyoming  ...        1.6           0.4

[1 rows x 37 columns]

In [35]:
merge.loc[166948:166948]

            TractId    State         County  ...  Unemployment    zip  res_ratio
166948  56045951100  Wyoming  Weston County  ...            13  82729   0.002424

[1 rows x 39 columns]

In [36]:
int(3/100 * 3329)

99

In [37]:
int(89.4/100 * 3329)

2976

In [38]:
assert merge['Hispanic'][166948] == 99

In [39]:
assert merge['White'][166948] == 2976

In [40]:
df.loc[
       (df.State == 'Alabama')
       &(df.TotalPop == 7131)
       &(df.TractId == 1003011601)]

       TractId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
41  1003011601  Alabama  Baldwin County  ...          13.5         0.2           3.1

[1 rows x 37 columns]

In [41]:
merge.loc[105:105]

        TractId    State          County  ...  Unemployment    zip  res_ratio
105  1003011601  Alabama  Baldwin County  ...           221  36580    0.01071

[1 rows x 39 columns]

In [42]:
int(25.4/100 * 7131)

1811

In [43]:
int(11.3/100 * 7131)

805

In [44]:
assert merge['Professional'][105] == 1811

In [45]:
assert merge['Construction'][105] == 805

#### Mutiply each row by residential ratio

In [46]:
newcol = ['TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment']

In [47]:
merge[newcol] = merge[newcol].multiply(merge['res_ratio'], axis = 'index')

In [48]:
merge[newcol] = merge[newcol].astype(int)

In [49]:
merge.head(15)

       TractId    State          County  ...  Unemployment    zip  res_ratio
0   1001020100  Alabama  Autauga County  ...            84  36067   1.000000
1   1001020200  Alabama  Autauga County  ...             2  36008   0.028243
2   1001020200  Alabama  Autauga County  ...            70  36067   0.971757
3   1001020300  Alabama  Autauga County  ...           159  36067   1.000000
4   1001020400  Alabama  Autauga County  ...             6  36067   0.025543
5   1001020400  Alabama  Autauga County  ...           253  36066   0.974457
6   1001020500  Alabama  Autauga County  ...           180  36066   0.788390
7   1001020500  Alabama  Autauga County  ...            48  36068   0.210806
8   1001020500  Alabama  Autauga County  ...             0  36067   0.000804
9   1001020600  Alabama  Autauga County  ...           220  36067   1.000000
10  1001020700  Alabama  Autauga County  ...           577  36067   1.000000
11  1001020801  Alabama  Autauga County  ...           209  36067   1.000000
12  1001020802  Alabama  Autauga County  ...            48  36022   0.194991
13  1001020802  Alabama  Autauga County  ...           141  36067   0.566622
14  1001020802  Alabama  Autauga County  ...            59  36066   0.238387

[15 rows x 39 columns]

In [50]:
min(merge['zip']), max(merge['zip'])

(501, 99929)

In [51]:
merge['zip'] = merge['zip'].astype('str').str.zfill(5)

In [52]:
merge = merge.drop(columns = ['res_ratio'])

## Ratios
-return df back to census form

##### Multiply columns by 100

In [53]:
merge.iloc[:,6:11+1] *= 100

In [54]:
merge.iloc[:,17:36+1] *= 100

In [55]:
col = ['Hispanic','White', 'Black', 'Native', 'Asian', 'Pacific','Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment']

##### Divide columns by Total Population

In [56]:
merge[col] = merge[col].divide(merge['TotalPop'], axis = 'index')

In [57]:
merge[col] = merge[col].round(1)

##### Check

In [58]:
merge.head()

      TractId    State          County  ...  FamilyWork  Unemployment    zip
0  1001020100  Alabama  Autauga County  ...         0.0           4.6  36067
1  1001020200  Alabama  Autauga County  ...         0.0           3.3  36008
2  1001020200  Alabama  Autauga County  ...         0.0           3.3  36067
3  1001020300  Alabama  Autauga County  ...         0.7           4.7  36067
4  1001020400  Alabama  Autauga County  ...         0.0           5.6  36067

[5 rows x 38 columns]

## Map Zip Codes to City

In [59]:
uszip.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone'],
      dtype='object')

In [60]:
uszip = uszip[['zip', 'city', 'state_name', 'state_id', 'county_name']]

In [61]:
merge = merge.merge(uszip, on = 'zip')

In [62]:
merge.shape

(159684, 42)

In [63]:
merge.head()

      TractId    State          County  ...  state_name  state_id  county_name
0  1001020100  Alabama  Autauga County  ...     Alabama        AL      Autauga
1  1001020200  Alabama  Autauga County  ...     Alabama        AL      Autauga
2  1001020300  Alabama  Autauga County  ...     Alabama        AL      Autauga
3  1001020400  Alabama  Autauga County  ...     Alabama        AL      Autauga
4  1001020500  Alabama  Autauga County  ...     Alabama        AL      Autauga

[5 rows x 42 columns]

In [64]:
merge.columns

Index(['TractId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment', 'zip', 'city',
       'state_name', 'state_id', 'county_name'],
      dtype='object')

In [65]:
columns = ['TractId', 'city', 'state_id', 'State', 'County', 'county_name', 
           'TotalPop', 'Men', 'Women', 'Hispanic','White', 'Black', 'Native', 
           'Asian', 'Pacific', 'VotingAgeCitizen','Income', 'IncomeErr', 
           'IncomePerCap', 'IncomePerCapErr', 'Poverty', 'ChildPoverty', 
           'Professional', 'Service', 'Office', 'Construction', 'Production', 
           'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome', 
           'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork', 
           'SelfEmployed', 'FamilyWork', 'Unemployment', 'zip', ]

In [66]:
merge = merge[columns]

In [67]:
merge.head()

      TractId        city state_id  ... FamilyWork Unemployment    zip
0  1001020100  Prattville       AL  ...        0.0          4.6  36067
1  1001020200  Prattville       AL  ...        0.0          3.3  36067
2  1001020300  Prattville       AL  ...        0.7          4.7  36067
3  1001020400  Prattville       AL  ...        0.0          5.6  36067
4  1001020500  Prattville       AL  ...        0.0          0.0  36067

[5 rows x 41 columns]

In [68]:
merge.columns = merge.columns.str.upper()

In [69]:
merge.to_csv('merge.csv')

In [70]:
!cp merge.csv "drive/My Drive/"

##  CSVs - Group by Cities

In [71]:
merge.columns

Index(['TRACTID', 'CITY', 'STATE_ID', 'STATE', 'COUNTY', 'COUNTY_NAME',
       'TOTALPOP', 'MEN', 'WOMEN', 'HISPANIC', 'WHITE', 'BLACK', 'NATIVE',
       'ASIAN', 'PACIFIC', 'VOTINGAGECITIZEN', 'INCOME', 'INCOMEERR',
       'INCOMEPERCAP', 'INCOMEPERCAPERR', 'POVERTY', 'CHILDPOVERTY',
       'PROFESSIONAL', 'SERVICE', 'OFFICE', 'CONSTRUCTION', 'PRODUCTION',
       'DRIVE', 'CARPOOL', 'TRANSIT', 'WALK', 'OTHERTRANSP', 'WORKATHOME',
       'MEANCOMMUTE', 'EMPLOYED', 'PRIVATEWORK', 'PUBLICWORK', 'SELFEMPLOYED',
       'FAMILYWORK', 'UNEMPLOYMENT', 'ZIP'],
      dtype='object')

### Diversity

In [72]:
diversity_df = merge[['HISPANIC', 'WHITE', 'BLACK', 'NATIVE','ASIAN', 'PACIFIC', 'CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).mean()
diversity_df[['HISPANIC', 'WHITE', 'BLACK', 'NATIVE','ASIAN', 'PACIFIC']] = diversity_df[['HISPANIC', 'WHITE', 'BLACK', 'NATIVE','ASIAN', 'PACIFIC']].round(1)
diversity_df.to_csv("diversity_df.csv",index=False)
diversity_df.head()

         CITY STATE_ID  HISPANIC  WHITE  BLACK  NATIVE  ASIAN  PACIFIC
0  Aaronsburg       PA       1.0   97.4    0.0     0.0    0.7      0.0
1   Abbeville       AL       3.6   64.2   31.4     0.0    0.0      0.0
2   Abbeville       GA       2.7   58.7   37.1     0.4    0.0      0.0
3   Abbeville       LA       3.9   77.0   14.2     0.3    2.1      0.0
4   Abbeville       MS       4.7   60.9   31.3     0.0    0.8      0.0

### Income Per Capita

In [73]:
income_per_capita_df = merge[['INCOME', 'INCOMEERR','INCOMEPERCAP', 'INCOMEPERCAPERR','CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).mean()
income_per_capita_df[['INCOME', 'INCOMEERR','INCOMEPERCAP', 'INCOMEPERCAPERR']] = income_per_capita_df[['INCOME', 'INCOMEERR','INCOMEPERCAP', 'INCOMEPERCAPERR']].round(1)
income_per_capita_df.to_csv("income_per_capita_df.csv",index=False)
income_per_capita_df.head()

         CITY STATE_ID   INCOME  INCOMEERR  INCOMEPERCAP  INCOMEPERCAPERR
0  Aaronsburg       PA  10258.0     1258.0        4516.0            324.0
1   Abbeville       AL  27895.8     6168.8       15016.5           2161.2
2   Abbeville       GA  14165.7     3522.0        5631.3           1339.0
3   Abbeville       LA  26087.2     5041.7       12330.7           1597.9
4   Abbeville       MS   7885.3     1314.7        4145.0            634.3

### Poverty

In [74]:
poverty_df = merge[['POVERTY', 'CHILDPOVERTY','CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).sum()
poverty_df.to_csv("poverty_df.csv",index=False)
poverty_df.head()

         CITY STATE_ID  POVERTY  CHILDPOVERTY
0  Aaronsburg       PA     16.4          31.6
1   Abbeville       AL     71.5         126.0
2   Abbeville       GA     75.2         100.5
3   Abbeville       LA    201.7         251.2
4   Abbeville       MS     58.8          87.8

### Industries

In [75]:
industry_df = merge[['PROFESSIONAL', 'SERVICE', 'OFFICE', 'CONSTRUCTION', 'PRODUCTION','CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).sum()
industry_df.to_csv("industry_df.csv",index=False)
industry_df.head()

         CITY STATE_ID  PROFESSIONAL  SERVICE  OFFICE  CONSTRUCTION  PRODUCTION
0  Aaronsburg       PA          27.5     21.2    18.9          15.5        16.6
1   Abbeville       AL         109.7     72.6    77.0          39.3        99.7
2   Abbeville       GA          86.5     76.2    44.3          42.2        49.3
3   Abbeville       LA         288.6    184.8   277.4         185.0       145.8
4   Abbeville       MS         108.2     64.9    46.0          25.8        51.9

### Transportation

In [76]:
trasportation_df = merge[['DRIVE', 'CARPOOL', 'TRANSIT', 'WALK', 'OTHERTRANSP', 'WORKATHOME','MEANCOMMUTE','CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).mean()
trasportation_df[['DRIVE', 'CARPOOL', 'TRANSIT', 'WALK', 'OTHERTRANSP', 'WORKATHOME','MEANCOMMUTE']] = trasportation_df[['DRIVE', 'CARPOOL', 'TRANSIT', 'WALK', 'OTHERTRANSP', 'WORKATHOME','MEANCOMMUTE']].round(1)
trasportation_df.to_csv("trasportation_df.csv",index=False)
trasportation_df.head()

         CITY STATE_ID  DRIVE  ...  OTHERTRANSP  WORKATHOME  MEANCOMMUTE
0  Aaronsburg       PA   69.7  ...          3.6        10.1         27.7
1   Abbeville       AL   85.1  ...          1.7         2.6         26.9
2   Abbeville       GA   86.5  ...          1.0         3.2         27.3
3   Abbeville       LA   80.0  ...          1.6         2.8         29.6
4   Abbeville       MS   83.7  ...          0.4         1.5         25.7

[5 rows x 9 columns]

### Employment

In [77]:
employment_df = merge[['EMPLOYED', 'UNEMPLOYMENT','CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).sum()
employment_df.to_csv('employment_df.csv', index=False)
employment_df.head()

         CITY STATE_ID  EMPLOYED  UNEMPLOYMENT
0  Aaronsburg       PA    2669.4           3.1
1   Abbeville       AL    3341.3          31.0
2   Abbeville       GA    1754.9          18.0
3   Abbeville       LA   22976.5          76.5
4   Abbeville       MS    7629.2          17.3

### Employment Type

In [78]:
employment_ratio_df = merge[['PRIVATEWORK', 'PUBLICWORK', 'SELFEMPLOYED','FAMILYWORK','CITY', 'STATE_ID']].groupby(['CITY', 'STATE_ID'],as_index=False).mean()
employment_ratio_df[['PRIVATEWORK', 'PUBLICWORK', 'SELFEMPLOYED','FAMILYWORK']] = employment_ratio_df[['PRIVATEWORK', 'PUBLICWORK', 'SELFEMPLOYED','FAMILYWORK']].round(1)
employment_ratio_df.to_csv('employment_ratio_df.csv', index=False)
employment_ratio_df.head()

         CITY STATE_ID  PRIVATEWORK  PUBLICWORK  SELFEMPLOYED  FAMILYWORK
0  Aaronsburg       PA         76.6        10.9          12.4         0.0
1   Abbeville       AL         79.6        14.8           5.4         0.0
2   Abbeville       GA         59.3        30.3           9.8         0.2
3   Abbeville       LA         80.9        12.3           5.4         0.0
4   Abbeville       MS         71.8        21.0           6.6         0.0