# CENSUS DATA

# EDA

## Data Exploration

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

### Import data

##### Zip Code Data
- using for city information

In [ ]:
zip_to_city  = pd.read_csv('/content/uszips.csv')

In [ ]:
zip_to_city.head()

   zip       lat       lng  ... imprecise military             timezone
0  601  18.18005 -66.75218  ...     False    False  America/Puerto_Rico
1  602  18.36074 -67.17519  ...     False    False  America/Puerto_Rico
2  603  18.45440 -67.12201  ...     False    False  America/Puerto_Rico
3  606  18.16721 -66.93828  ...     False    False  America/Puerto_Rico
4  610  18.29032 -67.12244  ...     False    False  America/Puerto_Rico

[5 rows x 18 columns]

In [ ]:
zip_to_city = zip_to_city.rename(columns = {'state_name': 'State', 
                                            'state_id': 'State_ID',
                                            'city': 'City', 
                                            'county_name': 'County',
                                            'county_fips': 'County_Fips'
                                        })

In [ ]:
print(zip_to_city['State'].nunique())
zip_to_city['State'].unique()

56

array(['Puerto Rico', 'Virgin Islands', 'Massachusetts', 'Rhode Island',
       'New Hampshire', 'Maine', 'Vermont', 'Connecticut', 'New York',
       'New Jersey', 'Pennsylvania', 'Delaware', 'District of Columbia',
       'Virginia', 'Maryland', 'West Virginia', 'North Carolina',
       'South Carolina', 'Georgia', 'Florida', 'Alabama', 'Tennessee',
       'Mississippi', 'Kentucky', 'Ohio', 'Indiana', 'Michigan', 'Iowa',
       'Wisconsin', 'Minnesota', 'South Dakota', 'North Dakota',
       'Montana', 'Illinois', 'Missouri', 'Kansas', 'Nebraska',
       'Louisiana', 'Arkansas', 'Oklahoma', 'Texas', 'Colorado',
       'Wyoming', 'Idaho', 'Utah', 'Arizona', 'New Mexico', 'Nevada',
       'California', 'Hawaii', 'American Samoa', 'Guam',
       'Northern Mariana Islands', 'Oregon', 'Washington', 'Alaska'],
      dtype=object)

In [ ]:
zip_to_city = zip_to_city[zip_to_city['State'] != 'Virgin Islands']
zip_to_city = zip_to_city[zip_to_city['State'] != 'Puerto Rico']
zip_to_city = zip_to_city[zip_to_city['State'] != 'District of Columbia']
zip_to_city = zip_to_city[zip_to_city['State'] != 'American Samoa']
zip_to_city = zip_to_city[zip_to_city['State'] != 'Guam']
zip_to_city = zip_to_city[zip_to_city['State'] != 'Northern Mariana Islands']

In [ ]:
zip_to_city.head()

      zip       lat       lng  ... imprecise military          timezone
142  1001  42.06259 -72.62589  ...     False    False  America/New_York
143  1002  42.37492 -72.46210  ...     False    False  America/New_York
144  1003  42.39192 -72.52479  ...     False    False  America/New_York
145  1005  42.42017 -72.10615  ...     False    False  America/New_York
146  1007  42.27875 -72.40036  ...     False    False  America/New_York

[5 rows x 18 columns]

##### Census 
- Contains population, demographic, poverty, and employment data by tract

In [ ]:
df = pd.read_csv('/content/acs2017_census_tract_data.csv')
print(df.shape)
df.head()

(74001, 37)

      TractId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0  1001020100  Alabama  Autauga County  ...           4.5         0.0           4.6
1  1001020200  Alabama  Autauga County  ...           9.0         0.0           3.4
2  1001020300  Alabama  Autauga County  ...           4.8         0.7           4.7
3  1001020400  Alabama  Autauga County  ...           4.5         0.0           6.1
4  1001020500  Alabama  Autauga County  ...           4.5         0.0           2.3

[5 rows x 37 columns]

##### Tract to Zip
- maps census tracts to zip codes

In [ ]:
tract_zip = pd.read_excel('/content/TRACT_ZIP_122017.xlsx')

In [ ]:
print(tract_zip.shape)
tract_zip.head()

(168662, 6)

        tract    zip  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  1001020100  36067   1.000000   1.000000       1.00   1.000000
1  1001020200  36008   0.028243   0.012987       0.00   0.023846
2  1001020200  36067   0.971757   0.987013       1.00   0.976154
3  1001020300  36067   1.000000   1.000000       1.00   1.000000
4  1001020400  36067   0.025543   0.585987       0.25   0.071038

In [ ]:
tract_zip = tract_zip[['tract', 'zip', 'res_ratio']]

In [ ]:
tract_zip = tract_zip.rename(columns = {'tract':'TractId'})

In [ ]:
tract_zip['zip'].nunique()

39301

## Merge Census with Tract_Zip Data

In [ ]:
merge = df.merge(tract_zip, on=['TractId'])

In [ ]:
print(merge.shape)
merge.head()

(168385, 39)

      TractId    State          County  ...  Unemployment    zip  res_ratio
0  1001020100  Alabama  Autauga County  ...           4.6  36067   1.000000
1  1001020200  Alabama  Autauga County  ...           3.4  36008   0.028243
2  1001020200  Alabama  Autauga County  ...           3.4  36067   0.971757
3  1001020300  Alabama  Autauga County  ...           4.7  36067   1.000000
4  1001020400  Alabama  Autauga County  ...           6.1  36067   0.025543

[5 rows x 39 columns]

### Seeing what does not transfer over

In [ ]:
df[(~df.TractId.isin(merge.TractId))]

           TractId        State  ... FamilyWork  Unemployment
43      1003990000      Alabama  ...        NaN           NaN
868     1097990000      Alabama  ...        NaN           NaN
1266    2105000200       Alaska  ...        0.0          12.5
1324    2185000100       Alaska  ...        0.0          14.2
1353    4001944202      Arizona  ...        0.0          28.2
...            ...          ...  ...        ...           ...
73982  72151950700  Puerto Rico  ...        0.0          17.9
73983  72151950800  Puerto Rico  ...        0.0          30.4
73984  72151950900  Puerto Rico  ...        0.0          28.7
73989  72151990000  Puerto Rico  ...        NaN           NaN
73990  72153750101  Puerto Rico  ...        0.0          20.4

[624 rows x 37 columns]

In [ ]:
tract_zip[(~tract_zip.TractId.isin(merge.TractId))]

            TractId    zip  res_ratio
543      1037030200  36080        1.0
2828     1115050101  35146        1.0
3017     1123231500  36866        1.0
3673     2270000100  99563        0.0
3674     2270000100  99620        0.0
...             ...    ...        ...
168657  78030960800    802        1.0
168658  78030960900    802        1.0
168659  78030961000    802        1.0
168660  78030961100    802        1.0
168661  78030961200    802        1.0

[277 rows x 3 columns]

## Data Cleaning

### isnull().sum()

In [ ]:
merge.isnull().sum()

TractId                0
State                  0
County                 0
TotalPop               0
Men                    0
Women                  0
Hispanic             506
White                506
Black                506
Native               506
Asian                506
Pacific              506
VotingAgeCitizen       0
Income              1291
IncomeErr           1291
IncomePerCap         596
IncomePerCapErr      596
Poverty              710
ChildPoverty        1286
Professional         652
Service              652
Office               652
Construction         652
Production           652
Drive                633
Carpool              633
Transit              633
Walk                 633
OtherTransp          633
WorkAtHome           633
MeanCommute          949
Employed               0
PrivateWork          652
PublicWork           652
SelfEmployed         652
FamilyWork           652
Unemployment         650
zip                    0
res_ratio              0
dtype: int64

### Fill na with 0

In [ ]:
merge.fillna(0, inplace=True)

In [ ]:
merge.isnull().sum()

TractId             0
State               0
County              0
TotalPop            0
Men                 0
Women               0
Hispanic            0
White               0
Black               0
Native              0
Asian               0
Pacific             0
VotingAgeCitizen    0
Income              0
IncomeErr           0
IncomePerCap        0
IncomePerCapErr     0
Poverty             0
ChildPoverty        0
Professional        0
Service             0
Office              0
Construction        0
Production          0
Drive               0
Carpool             0
Transit             0
Walk                0
OtherTransp         0
WorkAtHome          0
MeanCommute         0
Employed            0
PrivateWork         0
PublicWork          0
SelfEmployed        0
FamilyWork          0
Unemployment        0
zip                 0
res_ratio           0
dtype: int64

In [ ]:
merge.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

### Remove nonstates

In [ ]:
# Remove areas we don't have in other df
merge = merge[merge['State'] != 'District of Columbia']
merge = merge[merge['State'] != 'Puerto Rico']

In [ ]:
merge['State'].nunique()

50

## Map Tracts to Zip Code
* first get multiply % columns by total population
* multiply residential ratio across rows

### Dividing certain columns by 100

##### Making sure I capture the correct columns

In [ ]:
merge.iloc[:,6:11+1]

        Hispanic  White  Black  Native  Asian  Pacific
0            2.4   86.3    5.2     0.0    1.2      0.0
1            1.1   41.6   54.5     0.0    1.0      0.0
2            1.1   41.6   54.5     0.0    1.0      0.0
3            8.0   61.4   26.5     0.6    0.7      0.4
4            9.6   80.3    7.1     0.5    0.2      0.0
...          ...    ...    ...     ...    ...      ...
166947       3.0   89.4    1.0     0.1    3.0      0.0
166948       3.0   89.4    1.0     0.1    3.0      0.0
166949       3.0   89.4    1.0     0.1    3.0      0.0
166950       3.0   89.4    1.0     0.1    3.0      0.0
166951       0.1   93.6    0.0     0.1    5.4      0.0

[166434 rows x 6 columns]

In [ ]:
merge.iloc[:,17:36+1]

        Poverty  ChildPoverty  ...  FamilyWork  Unemployment
0          10.7          20.8  ...         0.0           4.6
1          22.4          35.8  ...         0.0           3.4
2          22.4          35.8  ...         0.0           3.4
3          14.7          21.1  ...         0.7           4.7
4           2.3           1.7  ...         0.0           6.1
...         ...           ...  ...         ...           ...
166947     12.5          18.5  ...         1.6           0.4
166948     12.5          18.5  ...         1.6           0.4
166949     12.5          18.5  ...         1.6           0.4
166950     12.5          18.5  ...         1.6           0.4
166951     15.9          27.7  ...         0.6           3.7

[166434 rows x 20 columns]

In [ ]:
merge.iloc[:,6:11+1] /= 100

In [ ]:
merge.iloc[:,17:36+1] /= 100

In [ ]:
merge.head()

      TractId    State          County  ...  Unemployment    zip  res_ratio
0  1001020100  Alabama  Autauga County  ...         0.046  36067   1.000000
1  1001020200  Alabama  Autauga County  ...         0.034  36008   0.028243
2  1001020200  Alabama  Autauga County  ...         0.034  36067   0.971757
3  1001020300  Alabama  Autauga County  ...         0.047  36067   1.000000
4  1001020400  Alabama  Autauga County  ...         0.061  36067   0.025543

[5 rows x 39 columns]

##### Multiply Columns by Total Population

In [ ]:
merge.columns

Index(['TractId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment', 'zip', 'res_ratio'],
      dtype='object')

In [ ]:
col = ['Hispanic','White', 'Black', 'Native', 'Asian', 'Pacific','Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment']

In [ ]:
merge[col] = merge[col].multiply(merge['TotalPop'], axis = 'index')

In [ ]:
merge[col] = merge[col].astype(int)

##### Check values

In [ ]:
df.loc[
       (df.State == 'Wyoming')
       &(df.TotalPop == 3329)
       &(df.TractId == 56045951100)]

           TractId    State  ... FamilyWork  Unemployment
73054  56045951100  Wyoming  ...        1.6           0.4

[1 rows x 37 columns]

In [ ]:
merge.loc[166948:166948]

            TractId    State         County  ...  Unemployment    zip  res_ratio
166948  56045951100  Wyoming  Weston County  ...            13  82729   0.002424

[1 rows x 39 columns]

In [ ]:
int(3/100 * 3329)

99

In [ ]:
int(89.4/100 * 3329)

2976

In [ ]:
assert merge['Hispanic'][166948] == 99

In [ ]:
assert merge['White'][166948] == 2976

In [ ]:
df.loc[
       (df.State == 'Alabama')
       &(df.TotalPop == 7131)
       &(df.TractId == 1003011601)]

       TractId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
41  1003011601  Alabama  Baldwin County  ...          13.5         0.2           3.1

[1 rows x 37 columns]

In [ ]:
merge.loc[105:105]

        TractId    State          County  ...  Unemployment    zip  res_ratio
105  1003011601  Alabama  Baldwin County  ...           221  36580    0.01071

[1 rows x 39 columns]

In [ ]:
int(25.4/100 * 7131)

1811

In [ ]:
int(11.3/100 * 7131)

805

In [ ]:
assert merge['Professional'][105] == 1811

In [ ]:
assert merge['Construction'][105] == 805

### Mutiply each row by residential ratio

In [ ]:
newcol = ['TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment']

In [ ]:
merge[newcol] = merge[newcol].multiply(merge['res_ratio'], axis = 'index')

In [ ]:
merge[newcol] = merge[newcol].astype(int)

In [ ]:
merge.head(15)

       TractId    State          County  ...  Unemployment    zip  res_ratio
0   1001020100  Alabama  Autauga County  ...            84  36067   1.000000
1   1001020200  Alabama  Autauga County  ...             2  36008   0.028243
2   1001020200  Alabama  Autauga County  ...            70  36067   0.971757
3   1001020300  Alabama  Autauga County  ...           159  36067   1.000000
4   1001020400  Alabama  Autauga County  ...             6  36067   0.025543
5   1001020400  Alabama  Autauga County  ...           253  36066   0.974457
6   1001020500  Alabama  Autauga County  ...           180  36066   0.788390
7   1001020500  Alabama  Autauga County  ...            48  36068   0.210806
8   1001020500  Alabama  Autauga County  ...             0  36067   0.000804
9   1001020600  Alabama  Autauga County  ...           220  36067   1.000000
10  1001020700  Alabama  Autauga County  ...           577  36067   1.000000
11  1001020801  Alabama  Autauga County  ...           209  36067   1.000000
12  1001020802  Alabama  Autauga County  ...            48  36022   0.194991
13  1001020802  Alabama  Autauga County  ...           141  36067   0.566622
14  1001020802  Alabama  Autauga County  ...            59  36066   0.238387

[15 rows x 39 columns]

In [ ]:
min(merge['zip']), max(merge['zip'])

(501, 99929)

## Map Zip Codes to City

In [ ]:
zip_to_city.columns

Index(['zip', 'lat', 'lng', 'City', 'State_ID', 'State', 'zcta', 'parent_zcta',
       'population', 'density', 'County_Fips', 'County', 'county_weights',
       'county_names_all', 'county_fips_all', 'imprecise', 'military',
       'timezone'],
      dtype='object')

In [ ]:
zip_to_city = zip_to_city[['zip', 'City', 'State', 'State_ID']]

In [ ]:
merge = merge.drop(columns = ['res_ratio'])

In [ ]:
merge['zip'].nunique(), zip_to_city['zip'].nunique()

(38885, 32914)

In [ ]:
merge[~merge['zip'].isin(zip_to_city['zip'])]

            TractId    State  ... Unemployment    zip
1        1001020200  Alabama  ...            2  36008
7        1001020500  Alabama  ...           48  36068
48       1003010701  Alabama  ...           25  36577
81       1003011201  Alabama  ...           33  36533
94       1003011407  Alabama  ...          229  36547
...             ...      ...  ...          ...    ...
166805  56025000200  Wyoming  ...           79  82602
166813  56025000502  Wyoming  ...          159  82605
166910  56037970902  Wyoming  ...           58  82902
166930  56039967702  Wyoming  ...           44  83002
166941  56041975400  Wyoming  ...          189  82931

[6750 rows x 38 columns]