In [1]:
import os
import glob
import pandas as pd
os.chdir("/content/drive/MyDrive/csv")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
# combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# export to csv
combined_csv.to_csv("combined_csv.csv", index=False)

In [4]:
import pandas as pd
import numpy as np

In [5]:
combined_csv = pd.read_csv('/content/drive/MyDrive/csv/combined_csv.csv')
print(combined_csv.shape)
combined_csv.head()

(24312, 16)

   Unnamed: 0          City State  ...  Arson  Rape1  Arson3
0         4.0        Hoover    AL  ...    2.0    NaN     NaN
1         4.0      Adelanto    CA  ...   14.0   20.0     NaN
2         5.0  Agoura Hills    CA  ...    0.0    6.0     NaN
3         6.0       Alameda    CA  ...   29.0    7.0     NaN
4         7.0        Albany    CA  ...    1.0    8.0     NaN

[5 rows x 16 columns]

In [6]:
combined_csv.reset_index(drop=True).head()

   Unnamed: 0          City State  ...  Arson  Rape1  Arson3
0         4.0        Hoover    AL  ...    2.0    NaN     NaN
1         4.0      Adelanto    CA  ...   14.0   20.0     NaN
2         5.0  Agoura Hills    CA  ...    0.0    6.0     NaN
3         6.0       Alameda    CA  ...   29.0    7.0     NaN
4         7.0        Albany    CA  ...    1.0    8.0     NaN

[5 rows x 16 columns]

In [7]:
combined_csv['Arson'] = combined_csv['Arson'] +  combined_csv['Arson3']

In [8]:
combined_csv = combined_csv.drop(columns=['Unnamed: 0', 'Arson3'])

In [9]:
combined_csv = combined_csv.fillna(0)

In [10]:
combined_csv.to_csv("fbi_crime_uscities.csv", index=False)